<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.galp.plugins.ar" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>GalpAR</name>
  <description>Galp Cordova Plugin to Augmented Reality</description>
  <author>Galp Inc</author>
  <js-module name="GalpArImpl" src="www/GalpArImpl.js">
    <clobbers target="cordova.plugins.GalpArImpl"/>
  </js-module>

  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="GalpArImpl">
        <param name="android-package" value="com.galp.plugins.ar.GalpArImpl"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml"  mode="merge"  parent="/manifest">
      <uses-feature android:name="android.hardware.camera.ar"/>
      <uses-permission android:name="android.permission.CAMERA"/>
    </config-file>

    <config-file target="AndroidManifest.xml"  mode="merge"  parent="application">
      <meta-data android:name="com.google.ar.core" android:value="required" />
    </config-file>

    <config-file target="AndroidManifest.xml"  mode="merge"  parent="application">
            <activity android:name="com.galp.plugins.ar.CustomArActivity" android:exported="false" android:theme="@style/Theme.AppCompat"></activity>
    </config-file>

    <source-file src="src/android/com/galp/plugins/ar/CustomArActivity.java" target-dir="src/com/galp/plugins/ar"/>
    <source-file src="src/android/com/galp/plugins/ar/GalpArImpl.java" target-dir="src/com/galp/plugins/ar"/>
    <source-file src="src/android/com/galp/plugins/ar/res/layout/activity_custom_ar.xml" target-dir="res/layout"/>
    <source-file src="src/android/com/galp/plugins/ar/res/values/stylesAr.xml" target-dir="res/values"/>

    <framework src="build-extras-ar.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/libs/sceneform-release.aar" target="libs/sceneform-release.aar" />
    <resource-file src="src/android/libs/sceneformux-release.aar" target="libs/sceneformux-release.aar" />
  </platform>

  <platform name="ios">
    <dependency id="cordova-plugin-add-swift-support@2.0.2"/>
    <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>

    <config-file parent="/*" target="config.xml">
      <feature name="GalpArImpl">
        <param name="ios-package" value="GalpArImpl"/>
      </feature>
      <preference name="deployment-target" value="13.0" />
      <preference name="UseSwiftLanguageVersion" value="5" />
      <preference name="SwiftVersion" value="5" />
    </config-file>
    <source-file src="src/ios/GalpArImpl.swift"/>
    <source-file src="src/ios/GalpArViewController.swift"/>
    <source-file src="src/ios/GalpArExperience.rcproject"/>
    <resource-file src="src/ios/GalpArMain.storyboard"/>
  </platform>
</plugin>